/docs/documentation.synctex.gz
/docs/documentation.out
/docs/documentation.log
/docs/documentation.aux
/tasks/*.eps
/tasks/mtransport
/tasks/tmp
/tasks/1A.png
/tasks/1B.png
/savefile
*.kate-swp
/mtransport
/mtransport.exe
/tests
